HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Visual Studio Code ###
.vscode/

### macOS ###
.DS_Store

### Environment ###
.env
.env.*
!.env.example
application-secret.yml
src/main/resources/application-secret.yml

### AWS ###
*.pem
